/*
    Color Palette
    --
    Pimary Color: rgb (49, 57, 168)
    Secondary color: rgb(165, 1, 68)
    Accent Color: rgb(15, 90, 128)
    Text color: white
    
    Typograaphy
    --
    Headlines: font-family: 'Anton', sans-serif;
    Body Copy: font-family: 'Karla', sans-serif;
    
    Backgrounds:
*/

/* Global */
body {
    background: rgb(49, 57, 168);
    margin: 45px;
}

img {
    margin: auto;
    width: 50%;
    height: 50%;
}

/* Typography */
h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    color: white;
    letter-spacing: .15em;
    text-align: left;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    color: white;
}

p {
    font-family: 'Karla', sans-serif;
    color: white;
}

/* Navigation */
ul {
    background: red;
    text-decoration: none;
    margin-top: 0;
}

li {
    color: white;
    list-style: none;
    float: right;
}

/* Link Visited*/
a:link,
a:visited {
  color: white;
  display: block;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  padding-top: 0;
  text-align: center;
  text-decoration: none;
  width: 90px;  
  
  transition: padding-top .5s;
}

a:focus,
a:hover,
a:active {
  background: rgb(165, 1, 68);
  border-left: 4px solid rgb(165, 1, 68);
  color: white;
  padding-top: 32px;
}

/* Layout */
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    