/*
    Color Palette
    --
    Pimary Color: rgb(49, 57, 168)
    Secondary color: rgb(165, 1, 68)
    Accent Color: rgb(15, 90, 128)
    Text color: white
    
    Typograaphy
    --
    Headlines: font-family: 'Righteous', cursive;
    Body Copy: font-family: 'Karla', sans-serif;
    
    Backgrounds:
*/

/* Global */
body {
    background: url(../img/Pattern.png);
    margin: 0 auto;
    width: 50%;
}

/* Images */
.profile {
    width: 100%;
}



/* Typography */
h1 {
    color: white;
    text-align: center;
    padding-top: 1.5em;
    font-family: 'Righteous', cursive;
    font-size: 3em;
    margin: 0 auto;
}

h2 {
    color: white;
    background: rgb(165, 1, 68);
    font-family: 'Righteous', cursive;
}

h3 {
    color: white;
    font-family: 'Righteous', cursive;
}

p {
    color: white;
    line-height: 1.45em;
    font-family: 'Karla', sans-serif;
}

blockquote {
    text-align: center;
}

/* Navigation */
.nav {
  background: rgb(165, 1, 68);
  color: #fff;
  text-decoration: none;

  display: block;
  line-height: 40px;
  margin: 0 20px;
  height: 40px;
  width: 100px;
  text-align: center;
}

li {
  list-style: none;
  float: left;
}


a:hover {
    background: rgb(15, 90, 128);
    border-radius: 8px;
}

label {
    color: white;
}

input[type="submit"] {
    background: rgb(165, 1, 68);
    padding: .5em;
    border: none;
    border-radius: 10px;
    color: white;
}

/* Link Visited*/


/* Layout */
    
 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    