/*
    Color Palette
    --
    Pimary Color: rgb(49, 57, 168)
    Secondary color: rgb(165, 1, 68)
    Accent Color: rgb(15, 90, 128)
    Text color: white
    
    Typograaphy
    --
    Headlines: font-family: 'Anton', sans-serif;
    Body Copy: font-family: 'Karla', sans-serif;
    
    Backgrounds:
*/

/* Global */
body {
    background: rgb(49, 57, 168);
    margin: 45px;
}

/* Images */

.profile {
    margin: auto;
    width: 25%;
    height: 25%;
}

img {
    float: right;
}

/* Typography */
h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    color: white;
    letter-spacing: .15em;
    text-align: left;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    color: white;
}

h3 {
    font-family: 'Anton', sans-serif;
    color: white;
    letter-spacing: 0.015em;
}
p {
    font-family: 'Karla', sans-serif;
    color: white;
}

blockquote {
    text-align: center;
}

/* Navigation */

#top-navigation {
    font-family: 'Karla', sans-serif;
    display: block;
    text-decoration: none;
    margin-top: 0;
    color: white;
    list-style: none;
    float: right;
}


ul {
    text-decoration: none;
    margin-top: 0;
}

li {
    font-family: 'Karla', sans-serif;
    color: white;
    list-style: none;
    float: right;
}





/* Link Visited*/
a:link,
a:visited {
  color: white;
  display: block;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  padding-top: 0;
  text-align: center;
  text-decoration: none;
  width: 90px;
  
  transition: padding-top .5s;
}

a:focus,
a:hover,
a:active {
  background: rgb(165, 1, 68);
  border-left: 4px solid rgb(165, 1, 68);
  color: white;
  padding-top: 32px;
}


/* Layout */
    
 .skills {
    text-decoration: none;
    margin-top: 0;
    color: white;
    list-style: none;
    margin-left: -2em;
}
    
aside {
  padding: 2.777777777778%; /* 10px / 360px = 0.02777777777778*/ 
  margin: 1%; /* 10px / 1000px = .01 */
  width: 32%; /* 360px / 1000px = .36 */
}
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    